section.contact-me-container {
  background-image: url("assets/images/banner/golf-ball-3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100lvh;
}
.contact-me-container h2 {
  color: var(--clr-primary);
  font-size: 9vw;
  width: 75%;
  line-height: 0.9;
  padding-top: 8rem;
}

@media (width < 768px) {
  .contact-me-container h2 {
    font-size: 15vw;
    width: auto;
  }
}
