.logo {
  color: var(--clr-primary);
}

header .navbar-nav > li > a {
  color: #fff;
  transition: color 0.5s;
}

header .nike-logo {
  width: 115px;
}

header .nike-logo img {
  width: 100%;
}

header .navbar-toggler:focus {
  box-shadow: none;
}

header .navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28218, 232, 94, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.main-header.navbar:has(> * .navbar-collapse.collapse.show) {
  background: #131e2e;
}

@media (width > 1200px) {
  header .navbar-nav > li > a:hover {
    color: var(--clr-primary);
  }
}

@media (width > 992px) {
  .navbar-nav > li {
    width: 85px;
  }
  header .navbar-nav > li > a {
    font-size: 1.2rem;
  }
}
