<section class="about-me-container bg-primary-clr">
  <div class="container">
    <div class="about-me-section" id="aboutMeSection">
      <div class="row">
        <div class="col-xl-6 col-12">
          <div class="about-me-title-section d-flex gap-5 flex-md-row flex-column">
            <h6 class="section-title">About Me</h6>
            <h2 class="about hero-title">Who is Brooke</h2>
          </div>
          <p class="about hero-parah">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde magnam, ipsa, aspernatur consectetur pariatur vero ducimus harum quod hic molestias rem totam, molestiae iste? Omnis aliquam ut facere cupiditate est?</p>
          <a [routerLink]="['/']" class="learn-more ms-auto me-5">
            <span>Learn More</span>
            <img src="assets/images/icons/north-arrow.svg" alt="north-arrow" />
          </a>
        </div>
        <div class="col-xl-6 col-12">
          <div class="about-me-image-section mt-xl-0 mt-5">
            <img src="assets/images/banner/golf-bat-ball.jpg" alt="about-me" />
            <img src="assets/images/banner/golf-men.jpg" alt="about-me" class="about-me-image-2" />
          </div>
        </div>
      </div>
    </div>
    <div class="about-me-section my-carrier" id="highlightCareerSection">
      <div class="about-me-title-section d-flex gap-5 justify-content-between flex-lg-row flex-column">
        <h6 class="section-title flex-1">My Carrier</h6>
        <h2 class="about hero-title text-end flex-1">Career Highlights</h2>
      </div>
      <div class="d-flex align-items-end flex-md-row flex-column gap-5">
        <p class="about hero-parah mb-0">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde magnam, ipsa, aspernatur consectetur pariatur vero ducimus harum quod hic molestias rem totam, molestiae iste? Omnis aliquam ut facere cupiditate est?</p>
        <a [routerLink]="['/']" class="learn-more ms-auto">
          <span>Discover More</span>
          <img src="assets/images/icons/north-arrow.svg" alt="north-arrow" />
        </a>
      </div>
    </div>
    <div class="image-gallary pb-5">
      <div class="row g-0">
        <div class="col-lg-3 col-sm-4 col-6">
          <div class="aspect-ratio-1">
            <img src="assets/images/banner/golf-bat.jpg" alt="about-me" class="w-100 h-100 object-fit-cover" />
          </div>
        </div>
        <div class="col-lg-3 col-sm-4 col-6">
          <div class="aspect-ratio-1"></div>
        </div>
        <div class="col-lg-3 col-sm-4 col-6">
          <div class="aspect-ratio-1">
            <img src="assets/images/banner/golf-bat-ball.jpg" alt="about-me" class="w-100 h-100 object-fit-cover" />
          </div>
        </div>
        <div class="col-lg-3 col-sm-4 col-6">
          <div class="aspect-ratio-1">
            <img src="assets/images/banner/golf-ball.jpg" alt="about-me" class="w-100 h-100 object-fit-cover" />
          </div>
        </div>
        <div class="col-lg-3 col-sm-4 col-6">
          <div class="aspect-ratio-1">
            <img src="assets/images/banner/golf-ball-2.jpg" alt="about-me" class="w-100 h-100 object-fit-cover" />
          </div>
        </div>
        <div class="col-lg-3 col-sm-4 col-6">
          <div class="aspect-ratio-1">
            <img src="assets/images/banner/golf-bat-ball-2.jpg" alt="about-me" class="w-100 h-100 object-fit-cover" />
          </div>
        </div>
        <div class="col-lg-3 col-sm-4 col-6">
          <div class="aspect-ratio-1 m-3 position-relative">
            <div class="fs-4 year">2019</div>
            <img src="assets/images/icons/north-arrow.svg" alt="north-arrow" class="end-0 position-absolute top-0" />
            <div class="bottom-0 fs-2 fw-bolder label position-absolute">WGC</div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-4 col-6">
          <div class="aspect-ratio-1">
            <img src="assets/images/banner/golf-bat.jpg" alt="about-me" class="w-100 h-100 object-fit-cover" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
