.hero-slider-item {
  background-image: url(assets/images/banner/golf-bat-ball.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: 120px;
}

.image-item-container {
  width: 235px;
  aspect-ratio: 10/9;
}

.image-item-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-card-container .image-card:nth-child(2) {
  transform: rotate(21deg) translateX(60px);
}

.image-card {
  -webkit-box-shadow: 0px 0px 39px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 39px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 0px 39px 0px rgb(0 0 0 / 53%);
}

.image-card-container:has(.image-card:hover) > .image-card:not(:hover) {
  opacity: 0;
}

.image-card {
  transition: opacity 1s;
}

.text-card-container h1 {
  font-size: 10rem;
  font-weight: 900;
  color: var(--clr-primary);
  text-align: right;
}

.text-card-container p {
  color: white;
  text-align: right;
  margin-block: 7rem 4rem;
}

.social-icon-container img {
  width: 50px;
  background-color: black;
  padding: 5px;
  border-radius: 100%;
  border: 1px solid transparent;
  transition: border-color 0.5s, background-color 0.5s;
}

@media (width > 1200px) {
  .social-icon-container img:hover {
    border: 1px solid var(--clr-primary);
    background-color: #00000099;
  }
}

.social-icon-container {
  gap: 4px;
}

.hero-slider-container swiper-container::part(pagination) {
  text-align: start;
  bottom: 50px;
  margin: auto;
  right: 0;
  width: 100%;
}

.hero-slider-container swiper-container::part(bullet),
.hero-slider-container swiper-container::part(bullet-active) {
  margin: 0 15px;
  background-color: white;
}

.hero-slider-container swiper-container::part(bullet) {
  opacity: 0.5;
}

.hero-slider-signature {
  position: relative;
  z-index: 1;
}

.hero-slider-signature img {
  position: absolute;
  top: 0;
  right: 15%;
  transform: translateY(-50%);
  z-index: 1;
}

@media (width >=1400px) {
  .hero-slider-container swiper-container::part(pagination) {
    max-width: 1320px;
  }
}

@media (width < 1400px) {
  .hero-slider-container swiper-container::part(pagination) {
    max-width: 1140px;
  }
}

@media (width < 1200px) {
  .hero-slider-container swiper-container::part(pagination) {
    max-width: 960px;
  }

  .text-card-container h1 {
    font-size: 7rem;
  }
}

@media (width < 992px) {
  .hero-slider-container swiper-container::part(pagination) {
    max-width: 720px;
  }

  .text-card-container p {
    margin-block: 3rem 2rem;
  }
}

@media (width < 768px) {
  .hero-slider-container swiper-container::part(pagination) {
    max-width: 540px;
  }
}

@media (width >=576px) {
  .text-card-container p {
    width: 400px;
    font-size: 1.3rem;
  }
}

@media (width < 576px) {
  .text-card-container h1 {
    font-size: 4rem;
  }

  .text-card-container p {
    font-size: 1rem;
  }
}
