<div class="technique-container bg-primary-clr">
  <div class="container">
    <div class="technique-header align-items-center d-flex justify-content-between gap-3 flex-wrap">
      <h2 class="hero-title mb-2">
        Trademark
        <span class="ms-5">Technique</span>
      </h2>
      <h6 class="section-title mb-0">My Technique</h6>
      <a [routerLink]="['/']" class="learn-more mb-auto">
        <span>Learn More</span>
        <img src="assets/images/icons/north-arrow.svg" alt="north-arrow" loading="lazy" />
      </a>
    </div>
    <div class="technique-details-section d-flex align-items-start gap-5 flex-lg-row flex-column">
      <div class="technique-details">
        <p class="hero-parah text-start">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde magnam, ipsa, aspernatur consectetur pariatur vero ducimus harum quod hic molestias rem totam, molestiae iste? Omnis aliquam ut facere cupiditate est?</p>
        <p class="hero-parah text-end">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde magnam, ipsa, aspernatur consectetur pariatur vero</p>
      </div>
      <div class="technique-image-section position-relative">
        <img src="assets/images/banner/golf-bat-ball.webp" alt="technique-image-1" class="aspect-ratio-1 object-fit-cover technique-image w-100" loading="lazy" />
        <img src="assets/images/banner/golf-bat.webp" alt="technique-image2" class="aspect-ratio-1 end-0 object-fit-cover position-absolute technique-image-2 top-0 w-50" loading="lazy" />
        <img src="assets/images/icons/play-btn.svg" alt="play-btn" class="play-btn bottom-0 end-0 m-auto position-absolute start-0 top-0 w-50" data-bs-toggle="modal" data-bs-target="#videoOpenModel" loading="lazy" />
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="videoOpenModel" tabindex="-1" aria-labelledby="videoOpenModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered flex-column justify-content-center align-items-end modal-xl">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    <embed class="model-video" src="https://www.youtube.com/embed/me5gjIUe1Ks?si=EPU3ttetFZ3bgIu8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" />
  </div>
</div>
