<div class="technique-container bg-primary-clr">
  <div class="container">
    <div class="technique-header align-items-center d-flex justify-content-between gap-3 flex-wrap">
      <h2 class="hero-title mb-2">
        Trademark
        <span class="ms-5">Technique</span>
      </h2>
      <h6 class="section-title mb-0">My Technique</h6>
      <a [routerLink]="['/']" class="learn-more mb-auto">
        <span>Contact Me</span>
        <img src="assets/images/icons/north-arrow.svg" alt="north-arrow" />
      </a>
    </div>
    <div class="technique-details-section d-flex align-items-start gap-5 flex-lg-row flex-column">
      <div class="technique-details">
        <p class="hero-parah text-start">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde magnam, ipsa, aspernatur consectetur pariatur vero ducimus harum quod hic molestias rem totam, molestiae iste? Omnis aliquam ut facere cupiditate est?</p>
        <p class="hero-parah text-end">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde magnam, ipsa, aspernatur consectetur pariatur vero</p>
      </div>
      <div class="technique-image-section position-relative">
        <img src="assets/images/banner/golf-bat-ball.jpg" alt="technique-image-1" class="aspect-ratio-1 object-fit-cover technique-image w-100" />
        <img src="assets/images/banner/golf-bat.jpg" alt="technique-image2" class="aspect-ratio-1 end-0 object-fit-cover position-absolute technique-image-2 top-0 w-50" />
        <img src="assets/images/icons/play-btn.svg" alt="play-btn" class="play-btn bottom-0 end-0 m-auto position-absolute start-0 top-0 w-50" />
      </div>
    </div>
  </div>
</div>
