<div class="partnerships-and-events-container pb-5" id="partnerEventsSection">
  <div class="container">
    <div class="partnerships-and-events-details">
      <div class="par-and-eve-title-section position-relative">
        <h2 class="par-and-eve-hero-title hero-title" style="--hero-title: var(--clr-primary)">Partnerships & Events</h2>
        <h6 class="bottom-0 end-0 par-and-eve-title position-absolute section-title mb-0" style="--sec-title: var(--clr-primary)">My Partnership</h6>
      </div>
      <div class="par-and-eve-parah-contai d-flex align-items-end mt-5 justify-content-between gap-5 flex-lg-row flex-column-reverse">
        <a [routerLink]="['/']" class="learn-more mb-3" style="--learn-more-clr: var(--clr-primary); --learn-more-filter: var(--clr-primary-filter)">
          <span>Contact Me</span>
          <img src="assets/images/icons/north-arrow.svg" alt="north-arrow" loading="lazy" />
        </a>
        <p class="par-and-eve-parah mb-0 hero-parah text-end" style="--hero-parah-clr: var(--clr-primary)">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde magnam, ipsa, aspernatur consectetur pariatur vero ducimus harum quod hic molestias rem totam, molestiae iste? Omnis aliquam ut facere cupiditate est?
        </p>
      </div>
    </div>
  </div>
  <div class="par-and-eve-slider-contai">
    <swiper-container
      class="mySwiper"
      pagination="true"
      effect="coverflow"
      grab-cursor="true"
      centered-slides="true"
      slides-per-view="auto"
      coverflow-effect-rotate="0"
      coverflow-effect-stretch="0"
      coverflow-effect-depth="100"
      coverflow-effect-modifier="1"
      coverflow-effect-slide-shadows="false"
      loop="true"
    >
      <swiper-slide>
        <img src="assets/images/banner/golf-bat.webp" alt="slider" class="aspect-ratio-1 w-100 object-fit-cover" loading="lazy" />
      </swiper-slide>
      <swiper-slide>
        <img src="assets/images/banner/golf-ball-2.webp" alt="slider" class="aspect-ratio-1 w-100 object-fit-cover" loading="lazy" />
      </swiper-slide>
      <swiper-slide>
        <img src="assets/images/banner/golf-bat-ball-3.webp" alt="slider" class="aspect-ratio-1 w-100 object-fit-cover" loading="lazy" />
      </swiper-slide>
      <swiper-slide>
        <img src="assets/images/banner/golf-ball-2.webp" alt="slider" class="aspect-ratio-1 w-100 object-fit-cover" loading="lazy" />
      </swiper-slide>
      <swiper-slide>
        <img src="assets/images/banner/golf-ball.webp" alt="slider" class="aspect-ratio-1 w-100 object-fit-cover" loading="lazy" />
      </swiper-slide>
    </swiper-container>
  </div>
</div>
